

<b>ROTA CLASSE CATEGORIA - CRUD - ALTERAR</b><br><br>

<br>

{if="$msg_erro != ''"}

	<font color="RED"><b>{$msg_erro}</b></font>
	<br><br>
{/if}

{if="$msg_sucesso != ''"}

	<font color="GREEN"><b>{$msg_sucesso}</b></font>
	<br><br>
{/if}

<div>

<form action="/categoria/alterar/{$categoria.id_categoria}" method="post">

	<label for="categoria">Categoria:</label>
	<input type="text" id="categoria" name="categoria"  placeholder="Insira a Categoria" value="{$categoria.categoria}">

	<label for="descricao">Descricao:</label>
	<input type="text" id="descricao" name="descricao" placeholder="Insira a Descricao"  value="{$categoria.descricao}">

	<input type="submit" value="Alterar">&nbsp;<button type="reset" value="resetar">Resetar</button>&nbsp;<button type="button" onclick="window.location='/categoria/listagem';">Cancelar</button>

</form>

</div>
