

<b>ROTA CLASSE CATEGORIA - CRUD - LISTAGEM</b><br><br>

<div>
<a href="/categoria/inserir"><b>INCLUIR NOVA CATEGORIA</b></a>
</div>

<br>

{if="$msg_erro != ''"}

	<font color="RED"><b>{$msg_erro}</b></font>
	<br><br>
{/if}

{if="$msg_sucesso != ''"}

	<font color="GREEN"><b>{$msg_sucesso}</b></font>
	<br><br>
{/if}

<div>
	<form action="/categoria/listagem" method="post">
		<input type="text" id="pesquisa" name="pesquisa" placeholder="Pesquisar..." value="{$pesquisa}">
		<button type="submit">Pesquisar</button>{if="$pesquisa != ''"}&nbsp;<button type="button" onclick="window.location='/categoria/listagem';">Voltar</button>{/if}
	</form>
</div>

<br>

{if="$categorias != NULL"}

	<table border="3" width="950">
	<tr>
		<th align="center">CODIGO</td>
		<th align="center">CATEGORIA</td>
		<th align="center">DESCRICAO</td>
		<th width="230" colspan="3" align="center">&nbsp;</td>
	</tr>

	{loop="$categorias"}
		<tr>
			<td align="center">{$value.id_categoria}</td>
			<td align="left">{$value.categoria}</td>
			<td align="left">{$value.descricao}</td>
			<td align="center"><a href="/categoria/detalhe/{$value.id_categoria}">DETALHE</a></td>
			<td align="center"><a href="/categoria/alterar/{$value.id_categoria}">ALTERAR</a></td>
			<td align="center"><a href="/categoria/excluir/{$value.id_categoria}" onclick="return confirm('Deseja realmente excluir este registro?')" >EXCLUIR</a></td>
		</tr>
	{/loop}

	</table>

{/if}
