
<ul>
	<li>
		<a href="/">ROTA RAIZ</a>
	</li>
	<li>
		<a href="/rota_parametro_html">ROTA PASSANDO PARAMETRO PARA HTML</a>
	</li>
	<li>
		<a href="/rota_parametro_querystring/gustavo">ROTA RECEBENDO PARAMETRO VIA QUERYSTRING</a>
	</li>
	<li>
		<a href="/rota_formulario_post">Formulario - POST</a>
	</li>
	<li>
		<a href="/rota_formulario_get">Formulario - GET</a>
	</li>
	<li>
		<a href="/categoria/listagem">Classe Categoria - CRUD</a>
	</li>
	<li>
		<font color="RED"><b>*****(A FAZER)*****</b></font><a href="/produto/listagem">Classe Produto - CRUD</a>
	</li>
</ul>

